{% extends 'base.html' %}


{% block title %}
About
{%endblock%}

{% block content %}
{% load static %} 
<div>

<p><b>
    <div >
        <h3 class="text-center text-danger" ><b>ABOUT US </b></h3>
<hr>
<h3 class="text-center text-primary" ><b>Hope & Care Hospital</b></h3>
<br>
            
       <p class = "text-center ">  Being the consistent leading tertiary care service provider in the Northern part of Kerala, for the past 33 years, we are committed to excelling in cutting-edge technologies to compassionate patient care and International standard of treatment protocols and outstanding outcomes. 
         We have introduced various healthcare technologies in our center and have a dedicated team of internationally qualified doctors specializing in various fields of healthcare. Our well-equipped infrastructure emphasizes on patient safety, satisfaction and outcomes.
        Our full range of primary specialty care medical services enables cross-specialty consultation, which assures outstanding treatment for each patient. This high-tech infrastructure over 3.5Lakhs sqft of built-up area spread over 9 acres of land.
        The service of the institution is nationally accredited by the National accreditation board for hospitals and healthcare providers [NABH].
         With extensive facilities comprising 20 super specialty departments, 11 most modern operation theatres, a large intensive care unit, a fully computerized and networked hospital information system (HIS).
         a fully digital radiology department, ultra-modern clinical laboratories and 24x7 emergency department with a mobile ICU.Hope & Care hospital is strategically located in the heart of American city- and easily accessible by air, road and rail.
         We have a special cell for international patients relations and functions exclusively to take care of their needs. A host of facilities from airport pick-up to priority appointments with specialties are provided to make way for smooth treatment period.

       </p>
    </b>
</p>
</div> 

<img src="{% static '/images/hopecare.webp'%}" class="d-block w-100" alt="...">

<div>
      

{%endblock%}